/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

:root{
    font-size: 10px;
}

.flex-container{
    font-size: 1.6rem;
    display: flex;
    max-width: 99.2rem;
    margin: auto;
    width: 100%;
}

/* Header */
header{
    background-color: #122a57;
    height: 10rem;
    display: flex;
    align-items: center;
    color: white;
}

header .list-items{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    max-width: 26rem;
    width: 100%;
}

.list-items li a{
    color: white;
}

header .menu{
    justify-content: space-between;
}

/* Apresentação */
.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao img{
    min-width: 62.6rem;
}

.apresentacao .texto-apresentacao{
    min-height: 20rem;
}

.texto-apresentacao h1{
    color: #122a57;
    font-size: 4.8rem;
    margin-bottom: 1rem;
}

.texto-apresentacao a{
    background-color: #122a57;
    color: white;
    text-align: center;
    border-radius: 3rem;
    width: 22rem;
    text-decoration: none;
    display: inline-block;
    height: 5.2rem;
    line-height: 5rem;
    margin: 1rem 0;
}

/* Quem Somos */
#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 9.4rem;
}

#quem-somos h2{
    font-size: 3.2rem;
    color: #122a57;
    display: flex;
    margin-bottom: 2rem;
}

#quem-somos h2::before{
    content: "";
    height: 5rem;
    width: .5rem;
    margin-right: .5rem;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 1rem;
    width: 90%;
}

#quem-somos img{
    min-width: 51.4rem;
}

/* Serviços */
.container-externo{
    background-color: #122a57;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding: 7.6rem 0 10.5rem 0;
}

#servicos div h2{
    font-size: 4.8rem;
    /* margin-top: 7.6rem; */
    margin-bottom: 10.5rem;
    color: white;

}

.service-list .item-service{
    text-align: center;
}

.service-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-list img{
    margin-bottom: 4.2rem;
}

.item-service a{
    display: inline-block;
    width: 22.5rem;
    background-color: white;
    border-radius: 3rem;
    height: 5rem;
    margin-top: 4.3rem;
    line-height: 5rem;
    text-align: center;
    padding: .4rem 1rem;
    color: #122a57;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
}

.item-service p{
    font-weight: 700;
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
}

.item-service img{
    width: 80%;
    margin: auto;
    
}